@page
@model RazorPagesPastebin.Pages.Pastebins.APIModel
@{
}

<h1>Developers API</h1>

<div>
    <p>
        This is the Pastebin.com developers API documentation page. Here you can find all the information you need to get started with our API. If you have questions, feel free to contact us. If you are a developer, and you are building something for Pastebin which might benefit others as well, be sure to contact us, as we might be able to feature your creation on our tools page.
    </p>
    <ul class="list-group">
        <li class="list-group-item">1. Your Unique Developer API Key</li>
        <li class="list-group-item">2. Creating A New Paste</li>
        <li class="list-group-item">3. Creating A New Paste, [Required Parameters]</li>
        <li class="list-group-item">4. Creating A New Paste, [Optional Parameters]</li>
        <li class="list-group-item">5. Creating A New Paste, The 'api_paste_format' Parameter In Detail</li>
        <li class="list-group-item">6. Creating A New Paste, The 'api_paste_expire_date' Parameter In Detail</li>
        <li class="list-group-item">7. Creating A New Paste, The 'api_paste_private' Parameter In Detail</li>
        <li class="list-group-item">8. Creating A New Paste, The 'api_folder_key' Parameter In Detail</li>
        <li class="list-group-item">9. Creating An 'api_user_key' Using The API Member Login System</li>
        <li class="list-group-item">10. Listing Pastes Created By A User</li>
        <li class="list-group-item">11. Deleting A Paste Created By A User</li>
        <li class="list-group-item">12. Getting A Users Information And Settings</li>
        <li class="list-group-item">13. Getting raw paste output of users pastes including 'private' pastes</li>
        <li class="list-group-item">14. Getting raw paste output of any 'public' & 'unlisted' pastes</li>
    </ul>
</div>
    